*.o
*~
.*.sw?
.deps
.libs
Makefile
Makefile.in
TAGS
stamp-*

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure

/build/depcomp
/build/install-sh
/build/missing

wonderbar
